apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-deployment
  namespace: database-ns
  labels:
    app: mssql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: mssql-secret-database
              key: mssql-pass

---
apiVersion: v1
kind: Service
metadata:
  name: mssql-service
  namespace: database-ns
spec:
  type: ClusterIP
  selector:
    app: mssql
  ports:
  - name: mssql-port
    protocol: TCP
    port: 1433
    targetPort: 1433